* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(10, 0, 0, 0), rgba(0, 0, 0, 2)), url(./fotos/back.png);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	background-attachment: fixed
}
.wrapper {
	width: 1170px;
	margin: auto;
}
.nav-area {
	float: left;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
    justify-content: center;
    align-items: center;
}
.nav-area li a {
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
	list-style: none;
    margin-left: 20px;
	text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}



marquee{
  color:white
}

img{
    background-color: black;
    border: 2px solid black;
    border-radius: 3%;
}
section{
	padding: 50px;
    display: flex;
    justify-content:space-around;
	flex-wrap:wrap;
}

div{
	padding: 20px;
}